<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Snake</title>
</head>
<body>
  <!-- S 容器 -->
  <div class="container">
    <!-- S 游戏区 -->
    <div class="stage">
      <!-- 食物 -->
      <div class="food">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <!-- 贪食蛇 -->
      <div class="snake">
        <div></div>
      </div>
    </div>
    <!-- E 游戏区 -->
    
    <!-- S 面板区 -->
    <div class="score-panel">
      <!-- 分数 -->
      <span>SCORE:0</span>
      <!-- 游戏等级 -->
      <span>LEVEL:1</span>
    </div>
    <!-- E 面板区-->
  </div>
  <!-- E 容器 -->
</body>
</html>